#wrapper {
	width: 80%;
}
#inner {
	width: 100%;
	overflow: hidden;
	left: 0;
}
#carousel img {
	height: auto;
	border: none;
	display: block;
	float: left;
	padding: 0 10px;
}

.extrawrap {
	height: 100px;
	min-height: 100px;
}

.extrawrap img {
	cursor: pointer;
	max-width: 100px;
}