#wrapper {
	width: 80%;
}

#inner {
	width: 100%;
	overflow: hidden;
	left: 0;
}
#carousel-hahmo img {
	cursor: url(../img/pointer.png), auto;
}

#features .row-fluid {
	display: inline-block;
}

.extrawrap {
	min-width: 100px;
	min-height: 150px;
}

.extrawrap img {
	cursor: pointer;
	cursor: url(../img/pointer.png), auto;
	min-width: 150px;	
	min-height: 150px;
	max-height: 150px;
	max-width: 200px;
}