/** CSS document general **/
/*@import url("base/base.css");*/
@import url("navigation.css");
@import url("skin.css");
@import url("coolcar.css");

@import url(http://fonts.googleapis.com/css?family=Loved+by+the+King);
@import url(http://fonts.googleapis.com/css?family=Codystar:300,400|Corben:400,700|Buda:300|Ranchers);

html {
	cursor: url(../img/cursor.png), auto;
	
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/retrobg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/retrobg.jpg', sizingMethod='scale')";
}

body {
	font-family: 'Corben', cursive;
	font-size: 120%;
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/retrobg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/retrobg.jpg', sizingMethod='scale')";
	margin: 0;
	text-align: left;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ranchers', cursive;
	color: #FFFFFF;
}
p {
	font-family: 'Corben', cursive;
	/*font-family: 'Codystar', cursive;*/
}
h3 {
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
	color: #FFFFFF;
}

img {
	border:outset;
	border-color:#FFFFFF;
	border-width: thick;
	border-style: solid;	
}

button {
	font-family: 'Buda', cursive;
	font-weight: 900;
}

button:hover, a:hover{
	cursor: url(../img/pointer.png), auto;
}

#logo {
	border:none;
}

#userName {
	font-size: 23px;
	padding: 2%;
	width: 50%;
}

#taken {
	font-size: 90%;
	color: #DF3F3F;
}

.help-block {	
	color: #F2F2F2;
}

/* Scroll instructions */
	/*just the text class*/
	.inst {
		font-family: 'Corben', cursive;
		font-weight: 300;
		line-height: 80%;
		color: #000000;
		margin: 3%;
		
	}

#scroll-ins{
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;	
}

#scroll-ins{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

#scroll-ins::-webkit-scrollbar {
    width: 6%;
}
 
/* Track */
#scroll-ins::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3); 
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
 
/* Handle */
#scroll-ins::-webkit-scrollbar-thumb {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(247,115,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* --------------------- */


#start-screen-btn {
	cursor: url(../img/pointer.png), auto;
}

.btn-warning {
	color: #000000;
}

.optbtns {
	margin: 2% 0 2% 0;
}
.optbtns button{
	margin-top: 2%;
}
						/* LONG and TALL BUTTONS*/
.long-btn {
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	
	line-height: initial;
}



/*----------------------LOGIN screen-------------
#wrapper {
	background: url(../img/bg-carousel.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-carousel.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-carousel.jpg', sizingMethod='scale')";
} */


#userForm {
	opacity: 1;
}

#loginscreen {
	margin-top: 5%;
}

#loginArea {
	padding: 3%;
	background: rgba(0, 0, 0, 0.35);
}

#insArea {
	padding: 3%;
	background: rgba(255, 255, 255, 0.35);
}

.helpTxt {
	color: #FFFFFF;
	font-style: italic;
	padding: 2%;
	padding-left: 5px;
}

#welcomeImg img{
	width: 100%;
	max-width: 300px;
}
#welcomeArea {
	background: rgba(0, 0, 0, 0.45);
	padding: 2%;
}

#welcomeArea, #welcomeImg {
	display: inline-table;
}

/* Control panel */
#instructionsDiv {
	margin-bottom: 1%;
	background: rgba(0, 0, 0, 0.45);	
	opacity: 1.0;
	display: inline-block;
	padding: 2%;
	padding-right: 5%;
}

#instructions {
	color:#FFFFFF;
}

#cp {
	background-color: #F4FA58;
	padding: 5%;
	padding-top: 1%;
}

#cp p {
	margin: 0;
}

#features, #readyArea, #readyArea2, #guessingArea, #singlequestion {
	background-color: #04B4AE;
	padding: 5%;
	padding-top: 1%;
}

#hahmosi {
	width: 100%;
}


#board {
	background-color: rgba(0, 0, 0, 0.45);
	padding: 1%;
	color:#FFFFFF;
	margin-left: 0;
}

#board img{
	width: 30%;
}