/** CSS document navigation betweeen panels**/
#startscreen, #boardscreen, #singlequestion, #readyArea, #readyArea2, #guessingArea, #playAgain {
	display: none;
}

.desaturate {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(../filters.svg#grayscale); /* Firefox 3.5+ */
	border-style: groove;
}

.feature {
	border-color:#000000;
}

.hahmo {
	border-style: groove;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(../filters.svg#grayscale); /* Firefox 3.5+ */
}

.pointer{
	cursor: url(../img/pointer.png), auto;
}
/* BUTTONS */
#play, #start-screen-btn, #btn-ask, #btn-guess {
	font-size: 40px;
}

#play {
	padding-top: 5%;
	padding-bottom: 5%;
}

#askFeature {
	font-weight: 800;
	padding-top: 3%;
	padding-bottom: 3%;
}

#start-screen-btn {
	padding: 25%;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	margin-top: 3%;
	font-weight: 800;
}