/** CSS document navigation betweeen panels**/
#startscreen, #boardscreen, #questions {
	display: none;
}

.desaturate {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

#userList li {
	background-color: #4D4D4D;
	font-size: 30px;
	color: #ffffff;
	font-weight: 800;
	cursor: url(../img/pointer.png), auto;
	padding: 3%;
}

.pointer{
	cursor: url(../img/pointer.png), auto;
}
/* BUTTONS */
#play {
	font-size: 40px;
	padding-top: 5%;
	padding-bottom: 5%;
}
#askFeature {
	font-weight: 800;
	padding-top: 3%;
	padding-bottom: 3%;
}